<form novalidate autocomplete="off" role="form" ng-submit="makeOrder(chosenMenu, chosenUser)">
    <h3>Выбранное меню</h3>
    <div class="well">
        <span class="badge pull-right">{{chosenMenu.price}}</span>
        {{chosenMenu.name}}
    </div>

    <div class="form-group">
        <label for="username">Пользователь</label>
        <input type="text" class="form-control" id="username" placeholder="Имя" ng-model="chosenUser">
    </div>

    <ul class="list-group">
        <li>
          <a class="list-group-item" ng-repeat="item in users | filter:chosenUser track by $index" ng-click="chooseUser(item)">{{item}}</a>
        </li>
    </ul>

    <button type="submit" class="btn btn-default btn-lg" ng-disabled="!chosenMenu || !chosenUser">Сделать заказ</button>
</form>